<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!--Firebase-->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>

    <!--AngularFire-->
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
    
    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter" ng-controller="ListCtrl">
    <ion-header-bar class="top">
      <h1 class="title">Items</h1>
      <button class="button button-icon ion-plus" ng-click="addItem()"></button>
    </ion-header-bar>

    <ion-content>
      <ion-list>
        <ion-item ng-repeat="item in items" ng-class="{purchased : item.status == 'purchased'}">
          {{item.name}}
          <ion-option-button class="button-royal" ng-click="purchaseItem(item)">
            <i class="icon ion-checkmark"></i>
          </ion-option-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </body>
</html>
